ul.nav.nav-tabs{
  text-align: center!important;
  padding: 5px 0;
}
ul.nav.nav-tabs li{
  float: none;
  display: inline-block;
}
.tabs li {
  float: left!important;
}
ul.nav.nav-tabs li button{
  background-color: paleturquoise;
  border: 1px solid black;
  padding: 3px 16px;
  outline: none;
}

ul.nav.nav-tabs li button:hover{
  background-color: #8acaca;
}
ul.nav.nav-tabs li button:active{
  background-color: #8acaca;
  transform: translateY(4px);
}

.center-available{
  text-align: center;
  padding-top: 100px;
  font-size: 50px;

}

ul.nav.nav-tabs li button .active{
  background-color: #5ecccc;

}

.current{
  font-weight: bold;
  font-size: 17px;
  padding: 5px 0;
}
.name{
  padding: 5px 0;
}
.name div{
  padding: 0;
}
.name img {
  width: 35px;
  height: 20px;
  padding-left: 5px;
}
.current-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

}
.position div{
  padding: 0;
}

.position{
  text-align: center;
}

.score{
  padding: 5px 0;
}

.padd{
  width: 12% !important;
}
