<div class="content-scroll container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 topTable">
        <div class="col-md-3">
          <span>1/8 Finals</span>
        </div>
        <div class="col-md-3">
          <span>Quarterfinals</span>
        </div>
        <div class="col-md-3">
          <span>Semifinals</span>
        </div>
        <div class="col-md-3">
          <span>Finals</span>
        </div>
      </div>
      <div *ngIf="bracket['8FNL']" class="col-md-12 bodyTable">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 1</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][0]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 2</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of  bracket['8FNL']['Heat'][1]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 3</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][2]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 4</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][3]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 5</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][4]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 6</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][5]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 7</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][6]['Competitor']" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>


            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">EightFinal 8</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['8FNL']['Heat'][7]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--QUARTERFINALS START-->
        <div *ngIf="bracket['QFNL']" class="col-md-3 quarterfinals">
          <div [ngStyle]="{'margin-top': margin + fixMarginDuo / 2 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">QuarterFinal 9</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['QFNL']['Heat'][0]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>


          <div [ngStyle]="{'margin-top': margin + 92 - fixMarginDuo * 0.75 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">QuarterFinal 10</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['QFNL']['Heat'][1]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>

          <div [ngStyle]="{'margin-top': margin + 92 - fixMarginDuo * 0.5 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">QuarterFinal 11</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['QFNL']['Heat'][2]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>


          <div [ngStyle]="{'margin-top': margin + 92 - fixMarginDuo * 0.7 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">QuarterFinal 12</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of  bracket['QFNL']['Heat'][3]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--QUARTERFINALS END-->

        <!--SEMIFINALS START-->
        <div *ngIf="bracket['SFNL']" class="col-md-3 semifinals">
          <div [ngStyle]="{'margin-top': margin + 152 + marginSemi - fixMarginDuo * 1.5  + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">SemiFinal 13</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['SFNL']['Heat'][0]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>
                  <span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>


          <div [ngStyle]="{'margin-top': margin + 464 + marginSemi - fixMargin - fixMarginDuo * 6 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">SemiFinal 14</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of bracket['SFNL']['Heat'][1]['Competitor']" class="row">
                <div class="col-md-2">
                  <button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>
                  <button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>
                  <button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>
                  <button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>
                  <button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>
                </div>
                <div class="col-md-6">
                  <span>{{ item.Name }} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag" *ngIf="item.NOC">
                  <img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--SEMIFINALS END-->


        <!--FINALS START-->
        <div *ngIf="bracket['FNL']" class="col-md-3 finals">
          <div [ngStyle]="{'margin-top': margin + 425 + marginSemi - fixMargin - fixMarginDuo * 5.3 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">Small Final 15</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <!--<div *ngFor="let item of bracket['FNL']['Heat'][0]['Competitor']" class="row">-->
                <!--<div class="col-md-2">-->
                  <!--<button *ngIf="item['Color'] === 'RED'" class="circleRed"></button>-->
                  <!--<button *ngIf="item['Color'] === 'BLUE'" class="circleBlue"></button>-->
                  <!--<button *ngIf="item['Color'] === 'YELLOW'" class="circleYellow"></button>-->
                  <!--<button *ngIf="item['Color'] === 'GREEN'" class="circleGreen"></button>-->
                  <!--<button *ngIf="item['Color'] === 'BLACK'" class="circleRed"></button>-->
                  <!--<button *ngIf="item['Color'] === 'WHITE'" class="circleRed"></button>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<span *ngIf="item.Surname.length > surNameLngth">{{ item.Name.charAt(0) + '.' }} {{item.Surname}}</span>-->
                  <!--<span *ngIf="item.Surname.length <= surNameLngth">{{ item.Name}} {{item.Surname}}</span>-->
                <!--</div>-->
                <!--<div class="col-md-1 flag" *ngIf="item.NOC">-->
                    <!--<img src="../../assets/{{low(item.NOC)}}.png" alt="FLAG">-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                  <!--<span>{{ item.NOC }}</span>-->
                <!--</div>-->
                <!--<div class="col-md-1 rank">-->
                  <!--<span>{{ item.Position }}</span>-->
                <!--</div>-->
              <!--</div>-->
              <div *ngFor="let item of data[0]" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button class="circleYellow"></button>
                </div>
                <div class="col-md-6">
                  <span>{{ item.Name }} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/ukr.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>


          <div [ngStyle]="{'margin-top': margin - 36 + fixMarginDuo / 2 + 'px'}" class="col-md-12 wrapperGroup">
            <div class="col-md-12 headerGroupe">
              <div class="row">
                <div class="col-md-3">
                  <span>Bib</span>
                </div>
                <div class="col-md-6">
                  <span class="stage">Big Final 16</span>
                </div>
                <div class="col-md-3">
                  <span>Rk</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 groupe">
              <div *ngFor="let item of data[0]" class="row">
                <div class="col-md-2">
                  <!--<span>{{item.Bib }}</span>-->
                  <button class="circleYellow"></button>
                </div>
                <div class="col-md-6">
                  <span>{{ item.Name }} {{item.Surname}}</span>
                </div>
                <div class="col-md-1 flag">
                  <img src="../../assets/ukr.png" alt="FLAG">
                </div>
                <div class="col-md-2">
                  <span>{{ item.NOC }}</span>
                </div>
                <div class="col-md-1 rank">
                  <span>{{ item.Position }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
