<div class="container">
  <div class="row">
    <div class="col-md-12 topTable">
      <div class="col-md-3">
        <span>1/8 Finals</span>
      </div>
      <div class="col-md-3">
        <span>Quarterfinals</span>
      </div>
      <div class="col-md-3">
        <span>Semifinals</span>
      </div>
      <div class="col-md-3">
        <span>Finals</span>
      </div>
    </div>
    <div class="col-md-12 bodyTable">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 1 (1/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 2 (2/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>


          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 3 (3/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 4 (4/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>


          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 5 (5/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>


          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 6 (6/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 7 (7/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">EF 8 (8/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--QUARTERFINALS START-->
      <div class="col-md-3 quarterfinals">
        <div [ngStyle]="{'margin-top': margin + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">QF 1 (9/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>


        <div [ngStyle]="{'margin-top': margin + 92 + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">QF 10 (10/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>

        <div [ngStyle]="{'margin-top': margin + 92 + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">QF 11 (11/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>


        <div [ngStyle]="{'margin-top': margin + 92 + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">QF 12 (12/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--QUARTERFINALS END-->

      <!--SEMIFINALS START-->
      <div class="col-md-3 semifinals">
        <div [ngStyle]="{'margin-top': margin + 152 + marginSemi  + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">QF 12 (12/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>


        <div [ngStyle]="{'margin-top': margin + 464 + marginSemi - fixMargin + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">SF 13 (13/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SEMIFINALS END-->


      <!--FINALS START-->
      <div class="col-md-3 finals">
        <div [ngStyle]="{'margin-top': margin + 425 + marginSemi - fixMargin + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">Small Final(15/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>

        <div [ngStyle]="{'margin-top': margin - 36 + 'px'}" class="col-md-12 wrapperGroup">
          <div class="col-md-12 headerGroupe">
            <div class="row">
              <div class="col-md-3">
                <span>Bib</span>
              </div>
              <div class="col-md-6">
                <span class="stage">Big Final (16/16)</span>
              </div>
              <div class="col-md-3">
                <span>Rk</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 groupe">
            <div *ngFor="let item of data[0]" class="row">
              <div class="col-md-2">
                <span>{{item.Bib }}</span>
              </div>
              <div class="col-md-7">
                <span>{{ item.Name }} {{item.Surname}}</span>
              </div>
              <div class="col-md-2">
                <span>{{ item.NOC }}</span>
              </div>
              <div class="col-md-1 rank">
                <span>{{ item.Position }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
